body {
  margin: 0;
  font-family: "Segoe UI";
  background: #0f172a;
  color: white;
}

.app {
  padding: 20px;
  text-align: center;
}

h1 {
  text-align: center;
}

/* Filters */
.filters {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.filters input {
  flex: 1;
  padding: 10px;
  border-radius: 10px;
  border: none;
}

/* Row (horizontal scroll) */
.row {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  padding-bottom: 10px;
}

.row::-webkit-scrollbar {
  height: 6px;
}

.row::-webkit-scrollbar-thumb {
  background: gray;
}

/* Card */
.card {
  min-width: 150px;
  background: #1e293b;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s;
}

.card img {
  width: 100%;
}

.card:hover {
  transform: scale(1.1);
}

/* Info */
.info {
  padding: 5px;
}

.fav {
  color: red;
  cursor: pointer;
}

.delete-btn:hover {
  background: darkred;
}
.fav.active {
  color: hotpink;
  transform: scale(1.2);
  text-shadow: 0 0 8px hotpink;
}

#loading {
  text-align: center;
}
